<?php
function convert_tanggal($tanggal)
{
  return date("d M Y", strtotime($tanggal));
}
  ?>
  <!-- Location: penerimaan/obat_masuk.html -->
  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Daftar
          <small>Obat Masuk</small></h3>
          <div class="box-tools pull-right">
              <a href="<?php  echo base_url('penerimaan/tambah_obat_masuk') ?>"  class="btn btn-block btn-default btn-sm" data-toggle="tooltip" title="Tambah">Tambah</a>
        </div>
      </div>
      <div class="box-body">
        <table id="tabel_obat" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nama</th>
              <th>Jumlah</th>
              <th>Satuan</th>
              <th>Tanggal Masuk</th>
              <th>Kadaluarsa</th>
              <th>Harga</th>
            </tr>
          </thead>
          <tbody>
            <?php

              foreach ($obat_masuk as $data_obat)
              {
                echo "
                <tr>
                  <td>{$data_obat->id_obat_masuk}</td>
                  <td>{$data_obat->nama}</td>
                  <td>{$data_obat->jumlah}</td>
                  <td>{$data_obat->satuan}</td>
                  <td>" . convert_tanggal($data_obat->tanggal) . "</td>
                  <td>" . convert_tanggal($data_obat->tanggal_kadaluarsa) . "
                  <td>Rp. {$data_obat->harga}</td>
                </tr>";
              }
            ?>
          </tbody>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Nama</th>
              <th>Jumlah</th>
              <th>Satuan</th>
              <th>Tanggal</th>
              <th>Kadaluarsa
              <th>Harga</th>
            </tr>
          </tfoot>
        </table>

      </div><!-- /.box-body -->
      
    </div><!-- /.box -->

  </section><!-- /.content -->

  <!-- DATA TABES SCRIPT -->
    <script src="<?php echo base_url('view/assets/dist'); ?>/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="<?php echo base_url('view/assets/dist'); ?>/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function()
    {
      $("#tabel_obat").dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": true,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
    });
    </script>