<!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="<?php echo base_url('view/assets/dist') ?>/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p><?php echo $_SESSION['nama'] ?></p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
         
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">LAPORAN</li>
            <li>
              <a href="<?php echo base_url('pimpinan/laporan_obat') ?>">
                <i class="fa fa-th"></i> <span>Laporan Obat</span> 
              </a>
            </li>
            <li>
              <a href="<?php echo base_url('pimpinan/laporan_lainnya') ?>">
                <i class="fa fa-th"></i> <span>Laporan lainnya</span> 
              </a>
            </li>
          </ul>
        </section>